.doc {
			line-height: 2;
			font-family: 'Roboto', sans-serif;
		}
		.kl {
			font-size: 15px;
		}
		.box {
			width: 400px;
			height: 400px;
		    border: 0.5px white;
		    padding: 25px;
		    margin-left: 35%;
		    margin-top: 10%;
		    box-shadow:4px 4px 5px #888888;
		}
		#sed {
			border-top-color: white;
			border-right-color: white;
			border-left-color: white;
			border-bottom-style: solid blue; 
		}
		#but {

			background: skyblue;
			border-radius: 5px;
		}